.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(235, 29, 29, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  height: 75px;
  padding-top: 10px;
  background: rgba(255,255,255,0.1);
}
.card-heading {
  font-size: 12px;
  display: flex;
  gap: 7px;
  align-items: center;
}
.image {
  height: 25px;
}
.amount{
    display: flex;
margin-top:10px ;
    font-size: 12px;

}
.card:hover {
  box-shadow: 0 8px 16px rgba(235, 29, 29, 0.1);
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}
